<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Piotr Cyll"/>
	<meta name="Test service" />
	<meta name="Service for testing students" content="piotr.cyll@gmail.com" />
	<title>Testy</title>
	
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
	<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/adminpanel/adminpanel.css"/>
	<link rel="stylesheet" href="/css/adminpanel/adminpanel_right_site.css"/>
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
	<div id="top">
    	<h1 class="logo">U<span class="green1">MCS</span> LUBLIN</h1>
        <ul id="topnavi">
        		<li id="start" class="btn"><a href="/app/index">Strona Startowa</a></li>
				<li id="informacje" class="btn"><a href="/app/info">Informacje</a></li>
				<li sec:authorize="hasRole('USER')" id="test" class="btn"><a href="/app/test">Testy</a></li>
				<li id="logowanie" class="btn"><a href="/app/login">Logowanie</a></li>
				<li id="Admin" class="active" sec:authorize="hasRole('ADMIN')"><a href="/admin/index">Panel Administratora</a></li>
        </ul>
    </div>
    <div class="user" th:if="${login} != null">
    <span class="logout" th:text="'Użytkownik: ' + ${login}"></span>
    <form th:action="@{/app-logout}" method="POST">
	         <input class="logoutbutton" type="submit" value="Wyloguj"/>
	</form>
    </div>
    <div id="header">
    	<img src="/img/header.jpg" alt="" width="1250" height="183" />
    </div>
   
    <div id="main">
    	<div id="left-part">
        	<h1>Kategorie</h1>
            <ul id="subnavi">
                <li id="mainPanel" class="btn"><a href="/admin/index">Panel główny</a></li>
                <li id="groupManagement" class="btn"><a href="/admin/groupManagement">Zarządzanie grupami</a></li>
                <li id="courseManagement" class="btn"><a href="/admin/courseManagement">Zarządzanie kursami</a></li>
                <li id="accountManagement" class="btn"><a href="/admin/accountManagementAll/true">Zarządzanie użytkownikami</a></li>
                <li id="testManagement" class="btn"><a href="/admin/testManagement">Zarządzanie testami</a></li>
                <li id="scoreAndResultManagement" class="active"><a href="/admin/scoreAndResultManagement">Zarządzanie systemem ocen</a></li>
               
            </ul>
            
            <h1>Additional content</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare elementum neque at lobortis. 
            Fusce ac orci diam. Ut ac tellus in lorem commodo vulputate a vitae ligula. Proin nisl lectus, lacinia id 
            egestas eu, hendrerit id purus.</p>
        </div>
    	<div id="right-part">
    		<form th:action="@{'/testsettings/AddNewSystemScore'}" method="POST" id="usrform">
    		<table style="border: none;" id="corect">
    			<tr>
    				<th colspan="2">Opis</th>
    				<th>Dla testu</th>
    				<th>System Punktacji</th>
    				<th width="200px">Punkty za odpowiedz</th>
    			</tr>
    			<tr>
    				<td style="border: none;"><label style="font-weight: bold;">Opis :</label></td>
    				<td style="border: none;"><textarea rows="3" cols="20" name="description" form="usrform" th:text="${description}"></textarea></td>
    				<td style="border: none;"><ul th:if="${single}" style="text-align: left;">
								<li style="list-style-type: none;">
									<input id="single" class="single" type="radio" name="single" value="1" checked="checked"/><label>JW</label>
								</li>
								<li style="list-style-type: none;">
									<input type="radio" class="notsingle" name="single" value="0" /><label>WW</label>
								</li>
							</ul>
							<ul th:unless="${single}" style="text-align: left;">
								<li style="list-style-type: none;">
									<input id="single" class="single" type="radio" name="single" value="1" /><label>JW</label>
								</li>
								<li style="list-style-type: none;">
									<input type="radio" class="notsingle" name="single" value="0" checked="checked"/><label>WW</label>
								</li>
							</ul>   
					</td>
    				<td style="border: none;"><ul th:if="${onlycorect}" style="text-align: left;">
								<li style="list-style-type: none;">
									<input id="only" class="onlycorect" type="radio" name="onlycorect" value="1" checked="checked"/> <label class="onlycorectlable">Tylko Poprawne Odpowiedzi</label>
								</li>
								<li style="list-style-type: none;">
									<input class="notonlycorect" type="radio" name="onlycorect" value="0" /> <label class="notonlycorect">Poprawne i niepoprawne odpowiedzi</label>
								</li>
							</ul>
							<ul th:unless="${onlycorect}" style="text-align: left;">
								<li style="list-style-type: none;">
									<input id="only" class="onlycorect" type="radio" name="onlycorect" value="1" /> <label class="onlycorectlable" >Tylko Poprawne Odpowiedzi</label>
								</li>
								<li style="list-style-type: none;">
									<input class="notonlycorect" type="radio" name="onlycorect" value="0" checked="checked"/> <label class="notonlycorect">Poprawne i niepoprawne odpowiedzi</label>
								</li>
							</ul> 
					</td>
					<td style="border: none;"><ul style="text-align: left;">
										<li style="list-style-type: none;" class="onlycorrect">
											<input type="number" class="onlycorectPointCorrect" name="onlycorectPointCorrect" value="1" max="10" min="1" style="width: 30px;" /><label class="onlycorectPointCorrectlable"> Poprawna</label> 
										</li>
										<li style="list-style-type: none;" class="notnolycorrect">
											<input type="number" class="notonlycorectPointCorrect" name="notonlycorectPointCorrect" value="1" max="10" min="1" style="width: 30px;" /><label class="notonlycorectPointCorrectlable"> Niepoprawna</label> 
										</li>
									
									</ul></td>
    			</tr>	
    		</table> 		
						    <input type="submit" value="Dodaj system punktacji"/>
			</form>
			
	
        </div>
    </div>
    <div id="footer">
    	<p>
				© Copyright 2018. All Rights Reserved. <br /> <span
					class="darkgrey">Design by M.Wołoszkiewicz</span>
			</p>
    </div>
    	<script src="/js/adminpanel/test/templateAddNewSystemScore.js"></script>
</div>
</body>

</html>








