<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Strona Startowa</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="bred<" />
	<meta name="keywords" content="bred<" />
	<meta name="description" content="bred<" />
	<meta name="robots" content="all" />
	
	
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
	<link rel="stylesheet" href="/css/all/index.css" />
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'/>
	<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'/>	 



</head>

<body>
<div id="wrapper">
	<div id="top">
    	<h1 class="logo">U<span class="green1">MCS</span> LUBLIN </h1>
    	
        <ul id="topnavi">
        		<li id="start" class="active"><a href="/app/index">Strona Startowa</a></li>
				<li id="informacje" class="btn"><a href="/app/info">Informacje</a></li>
				<li sec:authorize="hasRole('USER')" id="test" class="btn"><a href="/app/test">Testy</a></li>
				<li sec:authorize="!hasAnyRole('ADMIN', 'USER')"><a href="/app/newAccountTemplate">Nowe konto</a></li>
				<li id="logowanie" class="btn"><a href="/app/login">Logowanie</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a href="/admin/index">Panel Administratora</a></li>
        </ul>
    </div>
    <div class="user" th:if="${login} != null">
    <span class="logout" th:text="'Użytkownik: ' + ${login}"></span>
    <form th:action="@{/app-logout}" method="POST">
	         <input class="logoutbutton" type="submit" value="Wyloguj"/>
	</form>
    </div>
    <div id="header">
    	<img src="/img/header.jpg" alt="" width="1250" height="183" />
    </div>
    <div id="main">
    	<div id="left-part">
        	<h1>Category</h1>
            <ul id="subnavi">
                <li class="active"><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
            </ul>
            
            <h1>Additional content</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare elementum neque at lobortis. 
            Fusce ac orci diam. Ut ac tellus in lorem commodo vulputate a vitae ligula. Proin nisl lectus, lacinia id 
            egestas eu, hendrerit id purus.</p>
        </div>
    	<div id="right-part">
    	
    		<div id="ajax"></div>
    	
    		<div id="demo">sadasfasfasfa</div>
			<button type="button" onclick="loadDoc2()">Request data</button>
    	
    	
        	<h1>Headline</h1>
            <p><img src="/img/image.jpg" alt="" width="251" height="196" class="right" />Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Vestibulum ornare elementum neque at lobortis. 
            Fusce ac orci diam. Ut ac tellus in lorem commodo vulputate a vitae ligula. Proin nisl lectus, lacinia id 
            egestas eu, hendrerit id purus. In accumsan felis in sem pulvinar condimentum eget sed odio. Etiam sapien 
            leo, tincidunt at vulputate quis, suscipit eget lacus. Nunc vestibulum felis ut eros adipiscing at ornare 
            magna vulputate. Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus orci luctus 
            et ultrices posuere cubilia Curae;</p>

            <p>Mauris id est mi, varius <a href="#">dignissim lectus</a>. Sed ante lorem, vulputate sed tempor tristique, elementum quis 
            tortor. Etiam consequat, sapien id eleifend suscipit, odio felis consequat enim, quis tincidunt leo magna 
            semper ante. Phasellus ut felis eget felis adipiscing aliquam a vitae dolor. Pellentesque pulvinar condimentum 
            nibh, eu vulputate justo fermentum et. Ut sit amet augue fermentum elit dignissim accumsan. Vestibulum ante 
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi et quam vitae dolor ornare 
            laoreet. Ut feugiat consequat tellus id tincidunt. Duis a placerat eros. Proin vel arcu at ipsum hendrerit 
            aliquam. Nullam quam ipsum, sagittis non vehicula non, pellentesque ut dolor.</p>
            
            <h1>H1 Headline</h1>

            <h2>H2 Headline</h2>
            
            <p>List:</p>
			<ul class="list">
                <li>Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus</li>
                <li>Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus</li>
                <li>Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus</li>
                <li>Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus</li>
                <li>Nulla viverra malesuada malesuada. Vestibulum ante ipsum primis in faucibus</li>
            </ul>

            <p><a href="#">This</a> is a link. </p>
        </div>
    </div>
    <div id="footer">
    	<p>© Copyright 2012. All Rights Reserved. <br />
        <span class="darkgrey">Design by <a href="http://www.prontomoda.de/" title="Handtaschen">M.Wołoszkiewicz</a></span></p>
    </div>
</div>
	<!-- <script src="js/all.js"></script> -->
</body>

</html>
